<div class="jumbotron">
   <h1>People Tracker Service</h1>
   <p class="lead">People Tracker Service is a free web framework for tracking people.</p>
   <p>@Html.ActionLink("Learn more »", "Index", "Help", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
<div class="row">
   <div class="col-md-4">
      <h2>Getting started</h2>
      <p>People Tracker Service Web API is a framework that makes it easy to build applications using .NET, Node.js and Java to track people.</p>
      <p>@Html.ActionLink("Learn more »", "Index", "Help", new { area = "" }, new { @class = "btn btn-default" })</p>
   </div>
</div>
