@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This demo was created by <a href="http://twitter.com/donovanBrown">Donovan Brown</a> who blogs <a href="http://donovanbrown.com">here</a>.</p>
