@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Twitter:</strong> <a href="http://twitter.com/donovanBrown">@@DonovanBrown</a><br />
    <strong>Blog:</strong> <a href="http://DonovanBrown.com">DonovanBrown.com</a>
</address>
